<div>
    <header class="container">
        <section class="section">
            <img src="img/logo_extrategy_2col_ist.svg" alt="logo extrategy">
        </section>
    </header>
    <main class="container">
        <section class="section">
            <h2 class="text-gray">Teams</h2>
            <dashboard></dashboard>
            <div>
                <button role="btn-random" class="button block-mobile">Random</button>
                <button role="btn-clear" class="button button-red block-mobile">Clear</button>
            </div>
            <player-list></player-list>
        </section>
    </main>
</div>